@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto);

/* body,
p,
td,
li {
  /* Normal text and table cell text */
  /* font-family: "メイリオ", "Meiryo", sans-serif;
  font-size: 20px;
  color: Black;
} */

* {
  /* Normal text */
  font-family: "メイリオ", "Meiryo", sans-serif;
  font-size: 22pt;
  color: Black;
}

.btn {
  float: right;
  font-size: 24px;
}

.otree-btn-next {
  float: right;
  font-size: 24px;
}

p.caption {
  /* Caption */
  font-family: "Arial", "Times New Roman", "Meiryo", sans-serif;
  font-size: 20px;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
}

.button {
  font-size: 24px;
}

strong {
  font-size: 24px;
  font-family: "メイリオ", "Meiryo", sans-serif;
}

h1 {
  /* Header 1 */
  font-family: "Meiryo", sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: black;
}

h3 {
  /* Header 3 */
  font-family: "Meiryo", sans-serif;
  font-size: 28pt;
  font-weight: bold;
  color: black;
  /* padding: 0.25em 0.25em 0.25em 0.75em; */
}

h5 {
  /* Header 4 */
  font-family: "Meiryo", sans-serif;
  font-size: 25pt;
  /* padding: 0.25em 0.25em 0.25em 0.75em; */
  color: black;
}

.main-container {
  max-width: 1600px !important;
}

.card {
  font-size: 0.9rem;
  border: 1px solid black;
  background-color: #cfcfcf;
  padding: 20px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
}

.card p {
  font-size: 18px;
}

h4[class="card-header"] {
  background-color: #c7c7c7;
}

/* 中央寄せのためのstyling */
.outer {
  /* max-width: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  position: absolute;
  /* text-align: center; */
  top: 20%;
  /* left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%); */
}

.outer_more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_more {
  position: absolute;
  text-align: center;
  top: 20%;
  /* left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%); */
}